name: mashov_api
description: The Mashov API - for Flutter
version: 0.1.0
author: Yanir Edri <yanir.edri1@gmail.com>
homepage: https://github.com/yanir-edri/mashov_api

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  http: ^0.12.0+2
  flutter:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    androidPackage: com.futurelab.mashovapi
    pluginClass: MashovApiPlugin
